[package]
name = "mouse_highlighter"
version = "0.1.0"
authors = ["restevean <restevean@prtonmail.com>"]
edition = "2021"
license = "MIT"
license-file = "LICENSE"

[dependencies]
cocoa = "0.25"
objc = "0.2"
block = "0.1"
core-graphics = "0.24"
